.light {
    fill: #f7edba;
    stroke: #edde8b;
    opacity: 0;

    &.animate {
        @include animation(spotlight, 1s, 1, linear);

        fill: #f7edba;
        stroke: #edde8b;
        opacity: 1;
    }
}
.bulb {
    fill: #ffffff;
    stroke: #4D4D4D;

    &.animate {
        @include animation(bulbcolor, 1s, 1, linear);

        fill: #f7edba;
        stroke: #edde8b;
    }
}
.arm-one {
    @include transform-origin(220px, 14px);
    @include transform-translate(-11px, 12px);

    &.animate {
        @include animation(first-arm, 1s, 1, linear);
        @include transform-origin(220px, 14px);
        @include transform-rotate(0deg)
    }
}
.arm-two {
    @include transform-origin(286px, 79px);
    @include transform-rotate(-10deg);

    &.animate {
        @include animation(second-arm, 1s, 1, linear);
        @include transform-origin(286px, 79px);
        @include transform-rotate(0deg);
    }
}
.connector {
    @include transform-translate(-11px, 17px);

    &.animate {
        @include animation(mount, 1s, 1, linear);
        @include transform-translate(0px, 0px);
    }
}
.lamp-head {
    @include transform-origin(195px, 58px);
    @include transform-rotate(-35deg);

    &.animate {
        @include animation(can, 1s, 1, linear);
        @include transform-origin(188px, 40px);
        @include transform-rotate(0deg);
    }
}



@keyframes first-arm {
    0% {
        transform-origin: 220px 14px;
        transform: translate(-11px, 12px);
    }
    25% {
        transform-origin: 220px 14px;
        transform: rotate(0deg);
    }
}
@-o-keyframes first-arm {
    0% {
        -o-transform-origin: 220px 14px;
        -o-transform: translate(-11px, 12px);
    }
    25% {
        -o-transform-origin: 220px 14px;
        -o-transform: rotate(0deg);
    }
}
@-moz-keyframes first-arm {
    0% {
        -moz-transform-origin: 220px 14px;
        -moz-transform: translate(-11px, 12px);
    }
    25% {
        -moz-transform-origin: 220px 14px;
        -moz-transform: rotate(0deg);
    }
}
@-webkit-keyframes first-arm {
    0% {
        -webkit-transform-origin: 220px 14px;
        -webkit-transform: translate(-11px, 12px);
    }
    25% {
        -webkit-transform-origin: 220px 14px;
        -webkit-transform: rotate(0deg);
    }
}



@keyframes second-arm {
    0% {
        transform-origin: 286px 79px;
        transform: rotate(-10deg);
    }
    25% {
        transform-origin: 286px 79px;
        transform: rotate(0deg);
    }
}
@-o-keyframes second-arm {
    0% {
        -o-transform-origin: 286px 79px;
        -o-transform: rotate(-10deg);
    }
    25% {
        -o-transform-origin: 286px 79px;
        -o-transform: rotate(0deg);
    }
}
@-moz-keyframes second-arm {
    0% {
        -moz-transform-origin: 286px 79px;
        -moz-transform: rotate(-10deg);
    }
    25% {
        -moz-transform-origin: 286px 79px;
        -moz-transform: rotate(0deg);
    }
}
@-webkit-keyframes second-arm {
    0% {
        -webkit-transform-origin: 286px 79px;
        -webkit-transform: rotate(-10deg);
    }
    25% {
        -webkit-transform-origin: 286px 79px;
        -webkit-transform: rotate(0deg);
    }
}




@keyframes mount {
    0% {
        transform: translate(-11px, 17px);
    }
    25% {
        transform: translate(-1px, 4px);
    }
    75% {
        transform: translate(0px, 0px);
    }
}
@-o-keyframes mount {
    0% {
        -o-transform: translate(-11px, 17px);
    }
    25% {
        -o-transform: translate(-1px, 4px);
    }
    75% {
        -o-transform: translate(0px, 0px);
    }
}
@-moz-keyframes mount {
    0% {
        -moz-transform: translate(-11px, 17px);
    }
    25% {
        -moz-transform: translate(-1px, 4px);
    }
    75% {
        -moz-transform: translate(0px, 0px);
    }
}
@-webkit-keyframes mount {
    0% {
        -webkit-transform: translate(-11px, 17px);
    }
    25% {
        -webkit-transform: translate(-1px, 4px);
    }
    75% {
        -webkit-transform: translate(0px, 0px);
    }
}



@keyframes can {
    0% {
        transform-origin: 195px 58px;
        transform: rotate(-35deg);
    }
    25% {
        transform-origin: 188px 40px;
        transform: rotate(-26deg);
    }
    75% {
        transform-origin: 188px 40px;
        transform: rotate(0);
    }
}
@-o-keyframes can {
    0% {
        -o-transform-origin: 195px 58px;
        -o-transform: rotate(-35deg);
    }
    25% {
        -o-transform-origin: 188px 40px;
        -o-transform: rotate(-26deg);
    }
    75% {
        -o-transform-origin: 188px 40px;
        -o-transform: rotate(0);
    }
}
@-moz-keyframes can {
    0% {
        -moz-transform-origin: 195px 58px;
        -moz-transform: rotate(-35deg);
    }
    25% {
        -moz-transform-origin: 188px 40px;
        -moz-transform: rotate(-26deg);
    }
    75% {
        -moz-transform-origin: 188px 40px;
        -moz-transform: rotate(0);
    }
}
@-webkit-keyframes can {
    0% {
        -webkit-transform-origin: 195px 58px;
        -webkit-transform: rotate(-35deg);
    }
    25% {
        -webkit-transform-origin: 188px 40px;
        -webkit-transform: rotate(-26deg);
    }
    75% {
        -webkit-transform-origin: 188px 40px;
        -webkit-transform: rotate(0);
    }
}




@keyframes bulbcolor {
    0% {
        fill: #ffffff;
        stroke: #4D4D4D;
    }
    75% {
        fill: #ffffff;
        stroke: #4D4D4D;
    }
    100% {
        fill: #f7edba;
        stroke: #edde8b;
    }
}
@-o-keyframes bulbcolor {
    0% {
        fill: #ffffff;
        stroke: #4D4D4D;
    }
    75% {
        fill: #ffffff;
        stroke: #4D4D4D;
    }
    100% {
        fill: #f7edba;
        stroke: #edde8b;
    }
}
@-moz-keyframes bulbcolor {
    0% {
        fill: #ffffff;
        stroke: #4D4D4D;
    }
    75% {
        fill: #ffffff;
        stroke: #4D4D4D;
    }
    100% {
        fill: #f7edba;
        stroke: #edde8b;
    }
}
@-webkit-keyframes bulbcolor {
    0% {
        fill: #ffffff;
        stroke: #4D4D4D;
    }
    75% {
        fill: #ffffff;
        stroke: #4D4D4D;
    }
    100% {
        fill: #f7edba;
        stroke: #edde8b;
    }
}


@keyframes spotlight {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100 {
        opacity: 1;
    }
}
@-o-keyframes spotlight {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes spotlight {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes spotlight {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
